<nav class="navbar navbar-light navbar-expand-md navbar-dark bg-dark" style="padding: 5px ;">
    <div class="container-fluid"><a class="navbar-brand" href="/"><img src="images/logo.png" width="60px" height="60px"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto mt-2 mt-lg-2">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/" style="font-family: 'Ubuntu Condensed', sans-serif;font-size: 24px;margin-right: 13px;">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="suara" style="font-family: 'Ubuntu Condensed', sans-serif;font-size: 24px;margin-right: 13px;">Perolehan Suara</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="history" style="font-family: 'Ubuntu Condensed', sans-serif;font-size: 24px;">History</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="btn-group" role="group"><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#regis-modal">Register</button><button class="btn btn-primary btn-success" type="button" data-toggle="modal" data-target="#login-modal">Login</button></div>
            </form>
        </div>
    </div>
</nav>